[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sliced-art = {editable = true, extras = ["dev"], path = "."}

[packages]
sliced-art = {editable = true, path = "."}

[requires]
python_version = "3.9"
